Source: https://ww1.microchip.com/downloads/en/Appnotes/00554c.pdf
HW requirements:

1. There can be multiple masters controlling single, or multiple slaves.

2. There are two lines:
	SDA (Serial Data) – The line for the master and slave to send and receive data.

	SCL (Serial Clock) – The line that carries the clock signal.

3. I2C is synchronous, so the output of bits is synchronized to the sampling of bits by a clock signal shared 
   between the master and the slave.

4. The clock signal is always controlled by the master.

5. Data is transferred in messages. Messages are broken up into frames of data. 

		[START Bit] [Address frame] [Read/Write bit] [ACK/NACK] [Data Frame 1] [ACK/NACK] [Data Frame 2] [ACK/NACK] [Data Frame N] [ACK/NACK] [Stop bit]
bits:        1           7 or 10			1			  1			   8		    1			8			   1			8			1			1

6. Start Condition: The SDA line switches from a high voltage level to a low voltage level before the SCL line switches from high to low.

7. Stop Condition: The SDA line switches from a low voltage level to a high voltage level after the SCL line switches from low to high.

8. Address Frame: A 7 or 10 bit sequence unique to each slave that identifies the slave when the master wants to talk to it.

9. Read/Write Bit: A single bit specifying whether the master is sending data to the slave (low voltage level) or requesting data from it (high voltage level).

10. ACK/NACK Bit: Each frame in a message is followed by an acknowledge/no-acknowledge bit. If an address frame or data frame was successfully received, an ACK bit is returned to the sender from the receiving device.

11. 1. The master sends the start condition to every connected slave by switching the SDA line from a high voltage
level to a low voltage level before switching the SCL line from high to low.

11. The master sends the address of the slave it wants to communicate with to every slave connected to it. 
Each slave then compares the address sent from the master to its own address. 
If the address matches, it sends a low voltage ACK bit back to the master. 
If the address doesn’t match, the slave does nothing and the SDA line remains high.

12. The data frame is always 8 bits long, and sent with the most significant bit first. (Big Endian)

13. After all of the data frames have been sent, the master can send a stop condition to the slave to halt the transmission. 
The stop condition is a voltage transition from low to high on the SDA line after a low to high transition on the SCL line, 
with the SCL line remaining high.

14. For the clock frequency:
    F = 1/T, where T=Ton+Toff, DutyCycle=Ton/T
	Ton = 1ms
	Toff = 1ms

15. In the I2C Bus, the clock (SCL line) is always provided
by the master. However, the slave can hold the line low
even though the master has released it. The master
must check this condition and wait for the slave to
release the clock line. This provides a built-in wait state
for the I2C Bus. 

16.  the clock is held low for too long,
say 1 ms, then an error condition is assumed and a
T0CKI interrupt is generated


SW Requirements:

1. SW shall implement a LineConnector class that will act as a connection between devices (masters/slaves).
2. SW shall implement a generic class Device that will be the base of the Master and Slave classes.
3. SW shall implement Master class.
4. SW shall implement Slave class.
5. SW shall implement threading to utilize Mutex for the Data and Clock lines.
